/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.images{
    width:300px;
    height:250px;
    border-radius: 8px;
}
.maindiv{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.div{
  padding:1rem;
  margin:2rem 1rem;
  width:300px;
  
  text-transform: capitalize;
  /* border: 1px solid; */
  /* background-color: antiquewhite; */
  box-shadow: 2px 0px 10px;
  border-radius: 8px;
  cursor: pointer;
  /* background-color: antiquewhite; */
}
.para{
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon{
 font-weight:900;
 }
 .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding:0 100px; */
  background-color:blanchedalmond;
 
  width:100%;
 }
 .lists{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
 }
 ul li{
  list-style: none;
  padding:0 40px;
 }